function display(data) { console.log(data) }
function printHello() { console.log('Hello') }
function blockFor300ms() {/* как-то блокируем thread на 300мс */}

setTimeout(printHello, 0);

const futureData = fetch('https://twitter.com/olegafx/tweets/1')
futureData.then(display)

blockFor300ms()

// что будет вызвано раньше?
console.log('Me first!')